<h3> NBA 5 year careeer prediction data set prep

<h5> The aim is to explore and analyse data sets provided and feature engineer them in order to obtain reliable predictions

In [31]:
#Import initial packages
import pandas as pd
import numpy as np

<h4> 1. Load and Explore Train Dataset

In [32]:
df = pd.read_csv('../data/raw/2022_train.csv')

In [33]:
df.shape

(8000, 21)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           8000 non-null   int64
 1   GP           8000 non-null   int64
 2   MIN          8000 non-null   float64
 3   PTS          8000 non-null   float64
 4   FGM          8000 non-null   float64
 5   FGA          8000 non-null   float64
 6   FG%          8000 non-null   float64
 7   3P Made      8000 non-null   float64
 8   3PA          8000 non-null   float64
 9   3P%          8000 non-null   float64
 10  FTM          8000 non-null   float64
 11  FTA          8000 non-null   float64
 12  FT%          8000 non-null   float64
 13  OREB         8000 non-null   float64
 14  DREB         8000 non-null   float64
 15  REB          8000 non-null   float64
 16  AST          8000 non-null   float64
 17  STL          8000 non-null   float64
 18  BLK          8000 non-null   float64
 19  TOV          8000 non-null   float64
 20  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(3)
memory usage: 1.3 MB

In [5]:
df.describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,7798.50000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,19.583700,...,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,2309.54541,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,16.003155,...,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,3799.00000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,5798.75000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,8.400000,...,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,7798.50000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,19.500000,...,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,9798.25000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,30.600000,...,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,11798.00000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

<h4> 1.1 Training sets results

<h5> There are 8000 rows with 20 predictors and 1 binary target (0 or 1) with no null or missing values

<h4> 1.2 Review if dataset is balanced

<h5> As dataset is binary classification of 0 and 1, balance on the two classes needs to be assessed in order to not overfit the learning model. This will be assessed with a custom function that returns a table with the number of records for each class

In [6]:
#Reviewing if data is imbalanced with custom function
from src.data.sets import review_balance_df

In [7]:
review_balance_df(df,"TARGET_5Yrs")

   No. of 1  No. of 0
0      6669      1331

<h5> The results show an overweith of 83% for the overweighted class compared to the minority class. Thus, dataset is imbalanced towards the positive target

<h4> 2. Clean Dataset

<h5> Firstly, the unique identifier needs to be removed from the data set

In [35]:
df_cleaned = df.copy()
df_cleaned.drop('Id', axis=1, inplace=True)
df_cleaned.head()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,22.6,2.0,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,75,21.8,10.5,4.2,7.9,55.1,-0.3,-1.0,34.9,2.4,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,34.3,0.4,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,23.7,0.9,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,13.7,0.2,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

<h4> 2.1 Saving column names from cleaned data set into a csv for model analysis

<h5> Then, the feature names will be saved within the data/interim folder as they will be used within the model experiments to asses which features have the most predictor relevance

In [36]:
predictors = df_cleaned.copy()

In [37]:
predictors.drop('TARGET_5Yrs', axis=1, inplace=True)

In [38]:
predictors = predictors.columns.tolist()

In [39]:
predictors_df = pd.DataFrame(data= {"names":predictors})
predictors_df.to_csv('../data/interim/predictor_names.csv', index=False)

<h4> 3. Rebalancing Test set

<h5> As mentioned previously, the training data set is imbalanced, therefore, an undersampling of the minority class will be performed in order to balance the data set for future usage within the experiment models

<h5> The apporach is to randomly reduce the mayority class to the same number of records of the minoriry class in order to get a balnanced representation of both classes in the training set

<h5> A custom function within the src folder is used to undersample the mayority class in a 2 class dataset

In [13]:
from src.data.sets import rebalance_mayority_class

In [43]:
df_rebalanced = df_cleaned.copy()

In [15]:
df_rebalanced = rebalance_mayority_class(df_cleaned, "TARGET_5Yrs")

In [16]:
df_rebalanced.shape

(2662, 20)

<h5> The resulting data frame is a 50% balanced 2 class data set. equal number of observations per class is obtained

<h4> 4. Scaling and subset test set into test and validation

<h5> In order to standarize the data, the training, validation and test sets will be scaled

In [17]:
# Scaling sets with scaler model saved for the baseline

In [40]:
import joblib
scaler = joblib.load('../models/scaler.joblib')

In [44]:
target = df_rebalanced.pop("TARGET_5Yrs")

In [45]:
df_rebalanced_clean = scaler.fit_transform(df_rebalanced)

In [46]:
#Import subset function for getting training and evaluate
from src.data.sets import subset_x_y

In [47]:
X_train, X_val, y_train, y_val = subset_x_y(df_rebalanced_clean, target)

<h4> 5. Test dataset cleaning and scaling

<h5> The same process from the training set of cleaning and scaling is performed for the test set

In [48]:
df_test = pd.read_csv('../data/raw/2022_test.csv')

In [49]:
df_test.head()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,0,56,9.1,4.0,1.6,3.7,43.7,0.1,0.3,7.3,0.7,1.2,63.4,1.2,0.8,1.7,0.4,0.2,0.3,0.8
1,1,43,19.3,10.1,3.7,8.1,46.0,0.6,1.7,35.1,1.8,2.5,75.3,0.5,0.9,1.5,3.5,0.6,0.0,1.8
2,2,82,33.9,11.3,4.9,10.6,45.6,0.5,1.9,44.8,1.8,2.7,71.2,1.3,3.3,4.5,2.5,1.3,0.3,2.0
3,3,86,44.7,18.8,6.8,15.9,42.9,0.5,1.8,13.5,4.5,6.3,70.9,1.5,3.2,5.0,4.1,0.9,0.1,3.6
4,4,58,12.3,4.7,1.6,4.0,40.0,0.5,1.7,38.7,1.1,1.3,76.9,0.2,0.6,0.9,1.5,0.5,-0.4,0.9

In [50]:
X_test_ID = df_test.pop('Id')

In [51]:
X_test = df_test.copy()

In [53]:
X_test = scaler.fit_transform(X_test)

In [54]:
#Save new test and validation sets 
from src.data.sets import save_sets

In [55]:
save_sets(X_train, X_val, y_train, y_val, X_test, X_test_ID)

<h5> Resulting training, validation and test sets are saved with a custom function into the ../data/processed folder that will be accessable for usage within future models and team members