<h3> NBA 5 year careeer prediction data set prep

<h5> The aim is to explore and analyse data sets provided and feature engineer them in order to obtain reliable predictions

In [1]:
#Import initial packages
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE

<h4> <b> 1. Load and Explore Train Dataset

In [2]:
df = pd.read_csv('../data/raw/2022_train.csv')

In [3]:
df.shape

(8000, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           8000 non-null   int64
 1   GP           8000 non-null   int64
 2   MIN          8000 non-null   float64
 3   PTS          8000 non-null   float64
 4   FGM          8000 non-null   float64
 5   FGA          8000 non-null   float64
 6   FG%          8000 non-null   float64
 7   3P Made      8000 non-null   float64
 8   3PA          8000 non-null   float64
 9   3P%          8000 non-null   float64
 10  FTM          8000 non-null   float64
 11  FTA          8000 non-null   float64
 12  FT%          8000 non-null   float64
 13  OREB         8000 non-null   float64
 14  DREB         8000 non-null   float64
 15  REB          8000 non-null   float64
 16  AST          8000 non-null   float64
 17  STL          8000 non-null   float64
 18  BLK          8000 non-null   float64
 19  TOV          8000 non-null   float64
 20  TARGET_5Yrs  8000 non-null   int64
dtypes: float64(18), int64(3)
memory usage: 1.3 MB

In [5]:
df.describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,7798.50000,62.777875,18.576662,7.267088,2.807037,6.231212,44.608900,0.264525,0.816562,19.583700,...,1.947788,71.365825,1.077838,2.168500,3.245300,1.624513,0.648687,0.245212,1.257763,0.833625
std,2309.54541,17.118774,8.935263,4.318732,1.693373,3.584559,6.155453,0.384093,1.060964,16.003155,...,1.252352,10.430447,0.785670,1.392224,2.085154,1.355986,0.407626,0.821037,0.723270,0.372440
min,3799.00000,-8.000000,2.900000,0.800000,0.300000,0.800000,21.300000,-1.100000,-3.100000,-38.500000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-17.900000,0.100000,0.000000
25%,5798.75000,51.000000,12.000000,4.100000,1.600000,3.600000,40.400000,0.000000,0.100000,8.400000,...,1.000000,65.000000,0.500000,1.100000,1.700000,0.700000,0.300000,0.100000,0.700000,1.000000
50%,7798.50000,63.000000,16.800000,6.300000,2.400000,5.400000,44.400000,0.300000,0.800000,19.500000,...,1.700000,71.400000,0.900000,1.900000,2.800000,1.300000,0.600000,0.200000,1.100000,1.000000
75%,9798.25000,74.000000,23.500000,9.500000,3.700000,8.100000,48.700000,0.500000,1.500000,30.600000,...,2.600000,77.500000,1.500000,2.900000,4.300000,2.200000,0.900000,0.400000,1.600000,1.000000
max,11798.00000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.000000

In [6]:
df[df["TARGET_5Yrs"]==0].describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,...,1331.000000,1331.000000,1331.000000,1331.000000,1331.00000,1331.000000,1331.000000,1331.000000,1331.000000,1331.0
mean,7764.149512,53.501127,14.932682,5.507739,2.111270,4.928325,42.420210,0.251615,0.808340,20.012697,...,1.452968,70.445304,0.774305,1.644778,2.42562,1.330804,0.531555,0.063937,1.012923,0.0
std,2284.210496,16.057995,7.199469,3.397495,1.309242,2.870119,5.999187,0.381631,1.053072,16.147073,...,1.017544,10.186075,0.608425,1.108596,1.64057,1.148362,0.341199,1.034295,0.599936,0.0
min,3811.000000,-8.000000,2.900000,0.800000,0.300000,0.800000,25.600000,-1.100000,-3.100000,-33.400000,...,0.000000,23.700000,0.000000,0.200000,0.30000,0.000000,0.000000,-17.900000,0.100000,0.0
25%,5787.000000,43.000000,9.700000,2.950000,1.100000,2.800000,38.250000,0.000000,0.100000,9.150000,...,0.700000,63.700000,0.300000,0.900000,1.20000,0.500000,0.300000,0.000000,0.600000,0.0
50%,7704.000000,53.000000,13.500000,4.700000,1.800000,4.200000,42.100000,0.200000,0.800000,19.900000,...,1.200000,70.600000,0.600000,1.400000,2.00000,1.000000,0.500000,0.200000,0.900000,0.0
75%,9695.000000,64.000000,18.800000,7.100000,2.700000,6.300000,46.500000,0.500000,1.500000,30.550000,...,1.900000,76.600000,1.100000,2.100000,3.10000,1.900000,0.700000,0.300000,1.300000,0.0
max,11793.000000,107.000000,51.400000,25.000000,9.800000,21.000000,65.300000,1.600000,4.600000,73.700000,...,6.500000,124.900000,3.500000,8.500000,11.80000,8.900000,2.300000,9.600000,3.400000,0.0

In [7]:
df[df["TARGET_5Yrs"]==1].describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,...,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.0
mean,7805.355676,64.629330,19.303929,7.618219,2.945899,6.491243,45.045719,0.267102,0.818204,19.498081,...,2.046544,71.549543,1.138417,2.273024,3.408892,1.683131,0.672065,0.281392,1.306628,1.0
std,2314.677310,16.718539,9.069595,4.396696,1.726871,3.655725,6.093200,0.384559,1.062603,15.974117,...,1.271339,10.469601,0.802867,1.419288,2.125565,1.386373,0.415717,0.766430,0.735796,0.0
min,3799.000000,-3.000000,3.300000,0.900000,0.300000,0.900000,21.300000,-1.100000,-2.600000,-38.500000,...,0.000000,-13.300000,0.000000,0.200000,0.300000,0.000000,0.000000,-15.700000,0.100000,1.0
25%,5801.000000,53.000000,12.600000,4.400000,1.700000,3.800000,40.900000,0.000000,0.100000,8.200000,...,1.100000,65.300000,0.500000,1.200000,1.800000,0.700000,0.400000,0.100000,0.800000,1.0
50%,7811.000000,64.000000,17.600000,6.700000,2.600000,5.700000,44.900000,0.300000,0.800000,19.400000,...,1.800000,71.500000,1.000000,2.000000,3.000000,1.300000,0.600000,0.200000,1.200000,1.0
75%,9824.000000,76.000000,24.500000,9.900000,3.900000,8.400000,49.000000,0.500000,1.500000,30.600000,...,2.700000,77.600000,1.500000,3.000000,4.500000,2.300000,0.900000,0.400000,1.700000,1.0
max,11798.000000,123.000000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.0

<h5> As seen in the last 2 tables, there are negative values on the features, which shouldn't be the case. therefore we will replace negatives with '0'

In [8]:
df[df < 0] = 0

In [9]:
df[df["TARGET_5Yrs"]==0].describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,1331.000000,...,1331.000000,1331.000000,1331.000000,1331.000000,1331.00000,1331.000000,1331.000000,1331.000000,1331.000000,1331.0
mean,7764.149512,53.507137,14.932682,5.507739,2.111270,4.928325,42.420210,0.308340,0.938693,20.800601,...,1.452968,70.445304,0.774305,1.644778,2.42562,1.330804,0.531555,0.217205,1.012923,0.0
std,2284.210496,16.036441,7.199469,3.397495,1.309242,2.870119,5.999187,0.302791,0.864782,14.769281,...,1.017544,10.186075,0.608425,1.108596,1.64057,1.148362,0.341199,0.423711,0.599936,0.0
min,3811.000000,0.000000,2.900000,0.800000,0.300000,0.800000,25.600000,0.000000,0.000000,0.000000,...,0.000000,23.700000,0.000000,0.200000,0.30000,0.000000,0.000000,0.000000,0.100000,0.0
25%,5787.000000,43.000000,9.700000,2.950000,1.100000,2.800000,38.250000,0.000000,0.100000,9.150000,...,0.700000,63.700000,0.300000,0.900000,1.20000,0.500000,0.300000,0.000000,0.600000,0.0
50%,7704.000000,53.000000,13.500000,4.700000,1.800000,4.200000,42.100000,0.200000,0.800000,19.900000,...,1.200000,70.600000,0.600000,1.400000,2.00000,1.000000,0.500000,0.200000,0.900000,0.0
75%,9695.000000,64.000000,18.800000,7.100000,2.700000,6.300000,46.500000,0.500000,1.500000,30.550000,...,1.900000,76.600000,1.100000,2.100000,3.10000,1.900000,0.700000,0.300000,1.300000,0.0
max,11793.000000,107.000000,51.400000,25.000000,9.800000,21.000000,65.300000,1.600000,4.600000,73.700000,...,6.500000,124.900000,3.500000,8.500000,11.80000,8.900000,2.300000,9.600000,3.400000,0.0

In [10]:
df[df["TARGET_5Yrs"]==1].describe()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,6669.000000,6669.00000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,...,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.000000,6669.0
mean,7805.355676,64.62978,19.303929,7.618219,2.945899,6.491243,45.045719,0.321413,0.950667,20.312506,...,2.046544,71.551537,1.138417,2.273024,3.408892,1.683131,0.672065,0.333378,1.306628,1.0
std,2314.677310,16.71676,9.069595,4.396696,1.726871,3.655725,6.093200,0.308095,0.871288,14.569198,...,1.271339,10.454692,0.802867,1.419288,2.125565,1.386373,0.415717,0.652818,0.735796,0.0
min,3799.000000,0.00000,3.300000,0.900000,0.300000,0.900000,21.300000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.200000,0.300000,0.000000,0.000000,0.000000,0.100000,1.0
25%,5801.000000,53.00000,12.600000,4.400000,1.700000,3.800000,40.900000,0.000000,0.100000,8.200000,...,1.100000,65.300000,0.500000,1.200000,1.800000,0.700000,0.400000,0.100000,0.800000,1.0
50%,7811.000000,64.00000,17.600000,6.700000,2.600000,5.700000,44.900000,0.300000,0.800000,19.400000,...,1.800000,71.500000,1.000000,2.000000,3.000000,1.300000,0.600000,0.200000,1.200000,1.0
75%,9824.000000,76.00000,24.500000,9.900000,3.900000,8.400000,49.000000,0.500000,1.500000,30.600000,...,2.700000,77.600000,1.500000,3.000000,4.500000,2.300000,0.900000,0.400000,1.700000,1.0
max,11798.000000,123.00000,73.800000,34.200000,13.100000,28.900000,67.200000,1.700000,4.700000,82.100000,...,11.100000,168.900000,5.500000,11.000000,15.900000,12.800000,3.600000,18.900000,5.300000,1.0

<h4> 1.1 Training sets results

<h5> There are 8000 rows with 20 predictors and 1 binary target (0 or 1) with no null or missing values

<h4> 1.2 Review if dataset is balanced

<h5> As dataset is binary classification of 0 and 1, balance on the two classes needs to be assessed in order to not overfit the  model. This will be assessed with a custom function that returns a table with the number of records for each class

In [11]:
#Reviewing if data is imbalanced with custom function
from src.data.sets import review_balance_df

In [12]:
review_balance_df(df,"TARGET_5Yrs")

   No. of 1  No. of 0
0      6669      1331

<h5> The results show an overweith of 83% for the overweighted class compared to the minority class. Thus, dataset is imbalanced towards the positive target value

<h4> <b> 2. Clean Dataset

<h5> Firstly, the unique identifier needs to be removed from the training data set

In [13]:
df_cleaned = df.copy()
df_cleaned.drop('Id', axis=1, inplace=True)
df_cleaned.head()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,80,24.3,7.8,3.0,6.4,45.7,0.1,0.3,22.6,2.0,2.9,72.1,2.2,2.0,3.8,3.2,1.1,0.2,1.6,1
1,75,21.8,10.5,4.2,7.9,55.1,0.0,0.0,34.9,2.4,3.6,67.8,3.6,3.7,6.6,0.7,0.5,0.6,1.4,1
2,85,19.1,4.5,1.9,4.5,42.8,0.4,1.2,34.3,0.4,0.6,75.7,0.6,1.8,2.4,0.8,0.4,0.2,0.6,1
3,63,19.1,8.2,3.5,6.7,52.5,0.3,0.8,23.7,0.9,1.5,66.9,0.8,2.0,3.0,1.8,0.4,0.1,1.9,1
4,63,17.8,3.7,1.7,3.4,50.8,0.5,1.4,13.7,0.2,0.5,54.0,2.4,2.7,4.9,0.4,0.4,0.6,0.7,1

<h5> We will save a copy of the data frame in a new variable that will be used for feature engineering and resampling <br> <br>
    Also, Target column will be saved on a variable

In [14]:
df_engineered = df_cleaned.copy()

In [15]:
target = df_engineered.pop("TARGET_5Yrs")

<h4> <b> 3. Feature engineering </b>

<h5> With the features available in the data set, we can calculate new features to increase the model accuracy. Offensive rating, true shooting percentage, points per possesion formulas can be found here:

[NBA Stats Formulas](https://bleacherreport.com/articles/1039116-understanding-the-nba-explaining-advanced-offensive-stats-and-metrics)

<h5> Additional features are calculated referencing numbers of games played as well

In [16]:
#Minutes played per game
df_engineered["Min_per_GP"] = np.where(df_engineered["GP"]>0, df_engineered["MIN"] / df_engineered["GP"],0)

In [17]:
# 3 points per game
df_engineered["3P_per_GP"] = np.where(df_engineered["GP"]>0, df_engineered["3P Made"] / df_engineered["GP"],0)

In [18]:
#Steals per game
df_engineered["Stl_per_GP"] = np.where(df_engineered["GP"]>0, df_engineered["STL"] / df_engineered["GP"],0)

In [19]:
#Blocks per game
df_engineered["Blk_per_GP"] = np.where(df_engineered["GP"]>0, df_engineered["BLK"] / df_engineered["GP"],0)

In [20]:
#Rebounds per game
df_engineered["Reb_per_GP"] = np.where(df_engineered["GP"]>0, df_engineered["REB"] / df_engineered["GP"],0)

In [21]:
#Offensive Raiting
df_engineered["ORtg"] = np.where(df_engineered["GP"]>0, 
                                 (100*df_engineered["PTS"]) / 
                                 (df_engineered["FGA"] + 0.44* df_engineered["FTA"]+df_engineered["TOV"]),0)

In [22]:
#Points per Possesion
df_engineered["PPP"] = np.where(df_engineered["GP"]>0, 
                                 (df_engineered["PTS"]) / 
                                 (df_engineered["FGA"] + 0.44* df_engineered["FTA"]+df_engineered["TOV"]),0)

In [23]:
#True Shooting Percentage
df_engineered["TSP"] = np.where(df_engineered["GP"]>0, 
                                 (df_engineered["PTS"]) / 
                                 (2* (df_engineered["FGA"] + 0.44* df_engineered["FTA"])),0)

In [57]:
df_rebalanced = df_engineered.copy()

<h4> 3.1 Saving column names from cleaned data set into a csv for model analysis

<h5> Then, the feature names will be saved within the data/interim folder as they will be used within the model experiments to asses which features have the most predictor relevance

In [26]:
predictors = df_rebalanced.columns.tolist()

In [27]:
predictors_df = pd.DataFrame(data= {"names":predictors})
predictors_df.to_csv('../data/interim/predictor_names.csv', index=False)

<h4> <b> 4. Splitting into train and validation

<h5> Splitting into train and validation set will be done with a custom function that stratify the sets on spliting

In [28]:
#Import subset function for getting training and evaluate
from src.data.sets import subset_x_y

In [29]:
X_train, X_val, y_train, y_val = subset_x_y(df_rebalanced, target, target)

<h4> <b> 5. Oversampling/Undersampling

<h5> As dataset is imbalanced, two approaches will be tested. One oversampling and one undersampling to train the model and compare the results

In [30]:
X_train.shape

(6400, 27)

In [31]:
# NeighbourhoodCleaningRule - undersampling
from imblearn.under_sampling import NeighbourhoodCleaningRule

In [32]:
resampling=NeighbourhoodCleaningRule()

In [33]:
#RandomOverSampler for minority class
from imblearn.over_sampling import RandomOverSampler

In [34]:
resampling= RandomOverSampler(sampling_strategy='minority', random_state =44)

In [35]:
# SMOTE - oversampling
#from imblearn.over_sampling import SMOTE

In [36]:
#resampling = SMOTE(random_state = 7)

In [37]:
#X_res, y_res = resampling2.fit_resample(X_res, y_res)

In [38]:
#X_res.shape

In [39]:
X_res, y_res = resampling.fit_resample(X_train, y_train)

In [40]:
X_res.shape

(10670, 27)

<h5> After resampling, the dataset has 5517 observations with 27 features

<h4> 5. Test dataset cleaning and scaling

<h5> The same process from the training set of cleaning and feature engineering is performed for the test set

In [41]:
df_test = pd.read_csv('../data/raw/2022_test.csv')

<h5> Replacing negative values for 0 as there can't be negative values

In [42]:
df_test[df_test < 0] = 0

In [43]:
df_test.head()

,Id,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,0,56,9.1,4.0,1.6,3.7,43.7,0.1,0.3,7.3,0.7,1.2,63.4,1.2,0.8,1.7,0.4,0.2,0.3,0.8
1,1,43,19.3,10.1,3.7,8.1,46.0,0.6,1.7,35.1,1.8,2.5,75.3,0.5,0.9,1.5,3.5,0.6,0.0,1.8
2,2,82,33.9,11.3,4.9,10.6,45.6,0.5,1.9,44.8,1.8,2.7,71.2,1.3,3.3,4.5,2.5,1.3,0.3,2.0
3,3,86,44.7,18.8,6.8,15.9,42.9,0.5,1.8,13.5,4.5,6.3,70.9,1.5,3.2,5.0,4.1,0.9,0.1,3.6
4,4,58,12.3,4.7,1.6,4.0,40.0,0.5,1.7,38.7,1.1,1.3,76.9,0.2,0.6,0.9,1.5,0.5,0.0,0.9

<h5> Remove unique identifier

In [44]:
X_test_ID = df_test.pop('Id')

In [45]:
X_test = df_test.copy()

<h5> Feature engineering

In [46]:
X_test["Min_per_GP"] = np.where(X_test["GP"]>0, X_test["MIN"] / X_test["GP"],0)

In [47]:
X_test["3P_per_GP"] = np.where(X_test["GP"]>0, X_test["3P Made"] / X_test["GP"],0)

In [48]:
X_test["Stl_per_GP"] = np.where(X_test["GP"]>0, X_test["STL"] / X_test["GP"],0)

In [49]:
X_test["Reb_per_GP"] = np.where(X_test["GP"]>0, X_test["REB"] / X_test["GP"],0)

In [50]:
X_test["Blk_per_GP"] = np.where(X_test["GP"]>0, X_test["BLK"] / X_test["GP"],0)

In [51]:
X_test["ORtg"] = np.where(X_test["GP"]>0, 
                                 (100*X_test["PTS"]) / 
                                 (X_test["FGA"] + 0.44* X_test["FTA"]+X_test["TOV"]),0)

In [52]:
X_test["PPP"] = np.where(X_test["GP"]>0, 
                                 (X_test["PTS"]) / 
                                 (X_test["FGA"] + 0.44* X_test["FTA"]+X_test["TOV"]),0)

In [53]:
X_test["TSP"] = np.where(X_test["GP"]>0, 
                                 (X_test["PTS"]) / 
                                 (2* (X_test["FGA"] + 0.44* X_test["FTA"])),0)

In [54]:
X_test = X_test[input_columns]

<h4> <b> 6. Saving training, validation and test sets

In [55]:
#Save new test and validation sets 
from src.data.sets import save_sets

In [56]:
save_sets(X_res, X_val, y_res, y_val, X_test, X_test_ID)

<h5> Resulting training, validation and test sets are saved with a custom function into the ../data/processed folder that will be accessable for usage within future models and team members